body{
    text-align: center;
}

#box{
    border: 1px solid grey;
    border-radius: 10px 0px;
    box-shadow: 3px 3px 5px grey inset, -3px -3px 5px grey inset;
    padding: 15px;
    margin: auto;
    overflow: auto;
    height: 200px;
    text-align: left;
    font-family: serif;
}
#container{
    width: 50%;
    margin: auto;
    margin-top: 10%;
}
#inputText{
    width: 96%;
    height: 5em;
    border-radius: 0px 0px 10px 10px;
    overflow: hidden;
    resize: none;
    margin-top: 0px;
    font-family: serif;
    padding: 15px;
    box-shadow: 3px 3px 3px grey inset, -3px -3px 5px grey inset;
}